:root {
    --dark-text: rgb(65, 69, 81);
    --white-text: rgb(208, 208, 208);
    --light-text: rgb(130, 132, 144);
    --light-grey: rgb(182, 185, 200);
    --button-color: rgb(34, 125, 245);
    --hover-color: rgb(22, 51, 99);
    --card-background: rgb(247, 251, 255);
    --sidebar-background: rgb(19, 24, 27);
    --main-background: rgb(186, 199, 215);
    --title-font-size: 1.8rem;
    --hex-orange-filter: brightness(0) saturate(100%) invert(78%) sepia(77%) saturate(1753%) hue-rotate(349deg) brightness(111%) contrast(96%);    
    --hex-grey-filter: invert(81%) sepia(97%) saturate(3713%) hue-rotate(175deg) brightness(77%) contrast(81%);
}
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    min-height: 100vh;
}

body {
    background: var(--main-background);
    display: grid;
    grid-template: 150px 2fr / minmax(30px, 250px) 2fr;
}

a {
    text-decoration: none;
}

/*** HEADER ***/
header {
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 40px;
    padding: 10px;
}
header img {
    width: 30px;
}
.search, .header-nav-right, .header-nav-bottom {
    display: flex;
    align-items: center;
    gap: 17px;
}
.search input {
    appearance: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
}
.header-nav-right {
    justify-content: end;
    padding-right: 30px;
} 
.greetings, .buttons-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-nav-bottom {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.greetings p:nth-child(2) {
   font-size: 1.5rem;
}
.buttons-container button{
    appearance: none;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    background-color: var(--button-color);
    font-size: .8rem;
    transition: all .5s ease;
}
.buttons-container button:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px);
}
.buttons-container button:active{
    transform: translateY(2px);
}

/*** SIDEBAR ***/
.sidebar {
    grid-row: 1 / -1;
    padding: 50px;
    color: var(--white-text);
    background-color: var(--sidebar-background);
}
.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sidebar img {
    width: 50px;
    filter: var(--hex-orange-filter);
}
.sidebar-title {
    font-size: 2rem;
}
.sidebar-nav1, .sidebar-nav2{
    margin-top: 20px;
    font-size: 1rem;
}
.sidebar-nav2 {
    margin-top: 50px;
}
.sidebar ul {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}
.nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.nav a {
    color: inherit;
}
.nav-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all .15s ease-out;
}
.nav-icon:hover {
    transform: scale(1.2);
}
.nav-icon img {
    width: 30px;
    /* to change the color of the svg icons [see CSS Filter property] */
    filter: var(--hex-grey-filter);
}


/*** MAIN CONTENT ***/
/* Overall */
.main-content {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.project-container > h1, .announcement-container > h1, .trending-container > h1 {
    font-size: var(--title-font-size);
}
.project-container, .announcement-container, .trending-container {
    gap: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.announcement-container .card, .trending-container .card{
    background-color: var(--card-background);
    border-radius: 5px;
    border: none;
    padding: 20px;
}
.card {
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
}
/* PROJECTS */
.project-container {
    grid-row: 1 / -3;
}
.project-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    /* grid-auto-rows: 250px; */
    gap: 20px;
}
.project-container .card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border-left: 7px solid orange;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}
.project-container .card h1 {
    font-size: 1.3rem;
    color: var(--dark-text);
}
.project-container .card p {
    margin-top: 5px;
    font-size: 1rem;
    color: var(--light-text);
}
.card > img {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    box-shadow: 1px 1px 5px 1px rgb(205, 210, 211);
}
.project-container .icons-container {
    flex: 1;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}
.icons-container img {
    width: 1.5rem;
    transition: transform .5s ease-in-out;
}
.icons-container div:hover {
    filter: var(--hex-orange-filter);    
    animation: stretch-bounce .4s ease-in-out forwards;
}
.icons-container div:focus {
    filter: var(--hex-orange-filter);
    animation: expand-fade .8s ease-in-out forwards;
}
.icons-container a:first-of-type img:hover {
    animation: blink .2s ease-in-out forwards;
}
.icons-container a:last-child img:hover {
    transform: rotate(360deg);
}
/* ANNOUNCEMENTS */
.announcement h1 {
    font-size: .8rem;
}
.announcement p {
    color: var(--light-text);
    font-size: .8rem;
}
.announcement {
    padding: 15px 0;
    border-bottom: 1px solid var(--light-grey);
}
.announcement:first-child {
    padding-top: 0;
}
.announcement:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
/* TRENDING */
.trending-container .card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    font-size: .8rem;
}
.trending-container img{
    width: 30px;
}
.trending-container p {
    color: var(--light-text)
}
.profile-info {
    display: grid;
    grid-template-columns: 43px 2fr;
}
.profile-info div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes stretch-bounce {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(0.9);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
    transform: scale(1);
    }
}

@keyframes expand-fade {
    0% {
        transform: scale(1);
        opacity: .9;
      }
      25% {
        transform: scale(1.3);
        opacity: .6;
      }
      50% {
        transform: scale(1.5);
        opacity: .3;
      }
      75% {
        transform: scale(2);
        opacity: .1;
      }
      100% {
        transform: scale(2.5);
        opacity: 0;
      }
}